body, html, input {
  font-family: "microsoft yahei";
  font-size: 16px; }

/* Created by demon on 2017/12/19 0019.*/
/*reset start*/
li {
  list-style: none; }

img {
  vertical-align: top;
  border: none; }

body {
  margin: 0; }

button {
  border: 0;
  padding: 0;
  cursor: pointer; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit; }

/*reset end*/
.animation-fadeIn {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s; }

body {
  min-width: 1200px; }

a:hover {
  color: #1048FF;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

a {
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.bord-w-button {
  border: 1px solid #fff;
  height: 33px;
  width: 118px;
  font-size: 14px;
  color: #fff;
  line-height: 33px;
  text-align: center; }
  .bord-w-button:hover {
    color: #262933;
    background-color: #fff; }

.pull-left {
  float: left; }

.pull-left {
  float: right; }

.backhead {
  height: 66px;
  width: 100%;
  position: relative;
  background-color: #223645; }
  .backhead img {
    height: 100%; }
  .backhead .back-l {
    float: left; }
  .backhead .back-r {
    float: right; }
  .backhead .admin-wrapper {
    position: absolute;
    height: 30px;
    right: 20px;
    top: 18px;
    font-size: 0; }
    .backhead .admin-wrapper:hover .admin-menu {
      opacity: 1; }
    .backhead .admin-wrapper img {
      cursor: pointer;
      float: left;
      height: 100%;
      width: 30px;
      border-radius: 50%;
      margin-right: 11px; }
    .backhead .admin-wrapper .admin-name {
      cursor: pointer;
      float: left;
      font-size: 14px;
      line-height: 30px;
      color: #fff; }
    .backhead .admin-wrapper .admin-menu {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 48px;
      width: 130px;
      height: 105px;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .backhead .admin-wrapper .admin-menu ul {
        padding-left: 0; }
        .backhead .admin-wrapper .admin-menu ul li {
          cursor: pointer;
          font-size: 14px;
          width: 100%;
          height: 35px;
          background-color: #2e4050;
          color: #9CA0AA;
          text-align: center;
          line-height: 35px;
          -webkit-transition: .6s;
          -moz-transition: .6s;
          -ms-transition: .6s;
          -o-transition: .6s;
          transition: .6s; }
          .backhead .admin-wrapper .admin-menu ul li:hover {
            background-color: #223645;
            color: #fff; }

.content-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F1F4FF; }
  .content-wrapper .content-inner {
    width: 1208px;
    background-color: #fff;
    padding: 67px 40px;
    margin: auto; }
  .content-wrapper .districts {
    margin-bottom: 30px; }
    .content-wrapper .districts:last-child {
      border-bottom: 0; }
    .content-wrapper .districts .districts-title {
      font-size: 24px;
      color: #262933;
      line-height: 24px;
      margin-bottom: 23px; }
    .content-wrapper .districts .itemslist {
      font-size: 0; }
      .content-wrapper .districts .itemslist .items {
        border: solid 1px #eaeeff;
        box-sizing: border-box;
        float: left;
        width: 286px;
        height: 180px;
        margin-right: 20px;
        margin-bottom: 19px; }
        .content-wrapper .districts .itemslist .items:nth-child(4n) {
          margin-right: 0; }
        .content-wrapper .districts .itemslist .items .items-top01 {
          background: url("../img/backmanage/back01.png"); }
        .content-wrapper .districts .itemslist .items .items-top02 {
          background: url("../img/backmanage/back02.png"); }
        .content-wrapper .districts .itemslist .items .items-top03 {
          background: url("../img/backmanage/back03.png"); }
        .content-wrapper .districts .itemslist .items .items-top04 {
          background: url("../img/backmanage/back04.png"); }
        .content-wrapper .districts .itemslist .items .items-top {
          width: 100%;
          height: 120px; }
          .content-wrapper .districts .itemslist .items .items-top .items-title {
            font-size: 22px;
            color: #fff;
            padding: 26px 0 11px 20px;
            line-height: 22px; }
          .content-wrapper .districts .itemslist .items .items-top .items-time {
            color: #fff;
            font-size: 14px;
            padding: 0 0 9px 20px;
            line-height: 14px; }
          .content-wrapper .districts .itemslist .items .items-top .items-state {
            color: #ff5837;
            font-size: 14px;
            padding-left: 20px;
            line-height: 14px; }
          .content-wrapper .districts .itemslist .items .items-top .items-state-no {
            color: #757A8A !important; }
        .content-wrapper .districts .itemslist .items .items-butt {
          width: 100%;
          height: 60px;
          padding: 13px 11px 13px 20px;
          box-sizing: border-box; }
          .content-wrapper .districts .itemslist .items .items-butt .people {
            display: inline-block;
            font-size: 14px;
            color: #585D6D;
            height: 34px;
            line-height: 34px; }
          .content-wrapper .districts .itemslist .items .items-butt .butt-green {
            cursor: pointer;
            width: 80px;
            height: 34px;
            background-color: #00cc9f;
            border-radius: 6px;
            color: #fff;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            display: inline-block; }
          .content-wrapper .districts .itemslist .items .items-butt .butt-blue {
            cursor: pointer;
            width: 80px;
            height: 34px;
            background-color: #263949;
            border-radius: 6px;
            color: #fff;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            display: inline-block; }

/*# sourceMappingURL=backmanage.css.map */
