body, html, input {
  font-family: "microsoft yahei";
  font-size: 16px; }

/* Created by demon on 2017/12/19 0019.*/
/*reset start*/
li {
  list-style: none; }

img {
  vertical-align: top;
  border: none; }

body {
  margin: 0; }

button {
  border: 0;
  padding: 0;
  cursor: pointer; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit; }

/*reset end*/
.animation-fadeIn {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s; }

body {
  min-width: 1200px; }

a:hover {
  color: #1048FF;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

a {
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.bord-w-button {
  border: 1px solid #fff;
  height: 33px;
  width: 118px;
  font-size: 14px;
  color: #fff;
  line-height: 33px;
  text-align: center; }
  .bord-w-button:hover {
    color: #262933;
    background-color: #fff; }

.pull-left {
  float: left; }

.pull-left {
  float: right; }

html, body {
  height: 100%; }

.login-wrapper {
  width: 100%;
  height: 100%; }
  .login-wrapper .left {
    position: relative;
    box-sizing: border-box;
    float: left;
    min-width: 700px;
    height: 100%;
    width: 60%;
    font-size: 0;
    background: -webkit-linear-gradient(#51d6bf, #1048ff);
    background: -o-linear-gradient(#51d6bf, #1048ff);
    background: -moz-linear-gradient(#51d6bf, #1048ff);
    background: linear-gradient(#51d6bf, #1048ff); }
    .login-wrapper .left img {
      position: absolute;
      bottom: 64px;
      right: 80px; }
    .login-wrapper .left .left-content {
      position: absolute;
      left: 50%;
      width: 700px;
      transform: translate(-50%); }
    .login-wrapper .left .title {
      color: #fff;
      font-size: 55px;
      margin: 427px 0 18px 0; }
    .login-wrapper .left .desc {
      color: #C2D2FF;
      font-size: 18px;
      margin: 0 0 50px 0; }
    .login-wrapper .left .more {
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      height: 40px;
      width: 150px;
      line-height: 40px;
      text-align: center;
      border: solid 1px white;
      background: transparent;
      -webkit-transition: .6s;
      -moz-transition: .6s;
      -ms-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
      .login-wrapper .left .more:hover {
        color: #262933;
        background-color: #fff; }
  .login-wrapper .right {
    overflow: hidden;
    height: 100%;
    min-width: 310px;
    font-size: 0;
    position: relative; }
    .login-wrapper .right .content {
      position: absolute;
      margin: 0 20px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 310px; }
      .login-wrapper .right .content #username-error, .login-wrapper .right .content #password-error {
        font-size: 14px;
        right: 0;
        position: absolute;
        top: 20px;
        color: red; }
      .login-wrapper .right .content input:focus {
        outline: none; }
      .login-wrapper .right .content .logo {
        margin-bottom: 40px; }
      .login-wrapper .right .content .contact, .login-wrapper .right .content .password, .login-wrapper .right .content .code {
        height: 59px;
        width: 310px;
        border-bottom: 1px solid #dde0eb;
        position: relative; }
        .login-wrapper .right .content .contact .icon, .login-wrapper .right .content .password .icon, .login-wrapper .right .content .code .icon {
          position: absolute;
          margin: auto;
          width: 20px;
          bottom: 0;
          top: 0; }
        .login-wrapper .right .content .contact input, .login-wrapper .right .content .password input, .login-wrapper .right .content .code input {
          position: absolute;
          margin: auto;
          width: 150px;
          height: 30px;
          left: 32px;
          border: 0;
          bottom: 0;
          top: 0; }
        .login-wrapper .right .content .contact .codeimg, .login-wrapper .right .content .password .codeimg, .login-wrapper .right .content .code .codeimg {
          position: absolute;
          margin: auto;
          width: 126px;
          height: 35px;
          right: 0;
          bottom: 0;
          top: 0; }
      .login-wrapper .right .content .forget {
        font-size: 14px;
        color: #262933;
        margin: 17px 0 22px 0;
        text-align: right; }
      .login-wrapper .right .content button {
        width: 100%;
        height: 46px;
        line-height: 46px;
        border-radius: 2px;
        background-color: #1048FF;
        font-size: 18px;
        color: #fff; }
      .login-wrapper .right .content .register {
        color: #9CA0AA;
        font-size: 14px;
        text-align: right;
        margin-top: 19px; }
        .login-wrapper .right .content .register span {
          color: #1048FF;
          cursor: pointer; }

/*# sourceMappingURL=login.css.map */
