<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-wrapper" id="vue">
        <div class="left">
            <img src="../img/login/loginbac.png" alt="">
            <div class="left-content">
                <div class="title">
                    让旅游更简单
                </div>
                <div class="desc">
                    以提升游客体验为目标，构建一站式、便捷式、专业化平台，实现智慧旅游信息化服务
                </div>
                <div class="more">查看详情</div>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <div class="logo">
                    <img src="../img/login/logo.png" alt="">
                </div>
                <div class="contact">
                    <img class="icon" src="../img/login/contact.png" alt="">
                    <input id="username" name="username" type="text" placeholder="用户名/手机" v-model="usrname">
                    <label v-if="submited" v-show="!usrname" id="username-error" class="error" for="username">请输入用户名</label>
                </div>
                <div class="password">
                    <img class="icon" src="../img/login/lock.png" alt="">
                    <input id="password" name="password" type="password" placeholder="密码"  v-model="password">
                    <label v-if="submited" v-show="!password" id="password-error" class="error" for="username">请输入密码</label>
                </div>
                <!--<div class="code">-->
                    <!--<img class="icon" src="../img/login/protect.png" alt="">-->
                    <!--<input type="text" placeholder="请输入验证码">-->
                    <!--<img class="codeimg" src="" alt="验证码" title="点击更换验证码">-->
                <!--</div>-->
                <div class="forget">
                    <a href="#@">忘记密码？</a>
                </div>
                <button class="submit" @click="submit">登录</button>
                <div class="register">还没有惠旅云账号，<span><a href="register.html">立即注册>></a></span></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <script src="../js/script/jquery-1.10.2.min.js"></script>
    <script src="../js/script/vue.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>